/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wd100 { width: 100% }
.wdHalf{ width: 50%; }

.fL { float: left; }
.fR { float: right; }

.ft14 { font-size: 14px; }

.m-0{ margin: 0; }
.m-20 { margin: 20px }
.h48{height: 48px !important;}
.pl-20{ padding-left: 20px; }

.tcenter { text-align: center; }
.tbold { font-weight: 500; }
.tgray { color: darkslategray }
.tgreen{ color:green; }
.tblue{ color:blue }


.mat-bottom-sheet-container{border-radius: 24px 24px 0 0;}
